langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.59
langchain-google-genai==2.1.4
langchain-text-splitters==0.3.8
langchainhub==0.1.21
openai==1.78.0
requests==2.32.4
SQLAlchemy==2.0.40
streamlit==1.45.0
validators==0.35.0
fastembed==0.5.1
pypdf==5.5.0
duckduckgo_search==8.0.1
pydantic==2.11.4
faiss-cpu==1.11.0