langchain-google-genai
langchain-core
langchain-text-splitters
langchainhub
openai
requests
SQLAlchemy
streamlit
validators
fastembed
pypdf
duckduckgo_search
pydantic
faiss-cpu
langchain-qdrant
ruff
google-api-python-client